<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FAST Template Project</title>

    <!-- FAST Component Import -->
    <script type="module" src="dist/bundle.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Global Styles -->
    <style>
      :not(:defined) {
        visibility: hidden;
      }

      body {
        font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: hsl(159, 72%, 55%);
      }
    </style>
  </head>
  <body>
    <counter-card></counter-card>
  </body>
</html>
