<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>Template Web App</title>
    <meta name="title" content="Template Web App" />
    <meta
      name="description"
      content="The SEO description for a template web app."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />

    <!-- Links to CSS & JS Files -->
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="styles.css" />
    <script type="module" src="main.js"></script>

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://templatewebapp.com/" />
    <meta property="og:title" content="Template Web App" />
    <meta
      property="og:description"
      content="The SEO Facebook description for a template web app."
    />
    <meta property="og:image" content="assets/seo-og.png" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://templatewebapp.com/" />
    <meta property="twitter:title" content="Template Web App" />
    <meta
      property="twitter:description"
      content="The SEO Twitter description for a template web app."
    />
    <meta property="twitter:image" content="assets/seo-twitter.png" />
  </head>
  <body>
    <!-- Webpage Header Content-->
    <header></header>
    <!-- Webpage Main Content -->
    <main>
      <h1>Template Web App</h1>
      <iframe
        src="https://giphy.com/embed/fVexgTIrbphCB2txEk"
        width="480"
        height="270"
        frameborder="0"
      >
      </iframe>
      <h2>Random Dad Joke</h2>
      <section id="joke-container">
        <p id="joke"></p>
      </section>
    </main>
    <!-- Webpage Footer Content -->
    <footer></footer>
  </body>
</html>
